auto lo

iface lo inet loopback

iface eth0 inet manual

allow-hotplug wlan0
iface wlan0 inet manual
wpa-roam /etc/wpa_supplicant/wpa_supplicant.conf

iface default inet static
  address {{ eth0_ip_new }}/24
  netmask 255.255.255.0
  gateway {{ rpi_nic_gateway.eth0 }}
  dns-nameservers {{ rpi_nameservers.split(',') | join(' ') }}
